.button-cam{
    background:$theme-color;
    min-width: 70px;
    padding: 0 10px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    border-radius:999px;
    height: 30px;
    line-height: 26px;
    margin: 0 auto;
    img{
        width: 26px;
    }
}
.demo-view{
    #mcredit-call{
        width: 100%;
    }
}
.loading-screen{
    text-align:center;
    margin: 0 auto;
    padding: 50px 0;
    .btn-outline{
        height: 36px;
        line-height: 35px;
        font-size: 14px;
        padding: 0 10px;
    }
}

.waviy {
    position: relative;
    text-align: center;
    span{
        position: relative;
        display: inline-block;
        font-size: 40px;
        color: #00b4fa;
        text-transform: uppercase;
        animation: flip 2s infinite;
        animation-delay: calc(.2s * var(--i));
    }
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

