* {
  /*CSS Reset*/
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
  overflow-x: hidden;
  border: 0;
  height: 100vh;
}
body {
  font-family: "arial";
}

.sample {
  width: 100%;
  height: 100%;
}

.crosshairs {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 100%;
}

.crosshairs.hidden {
  display: none;
}

.crosshairs::before,
.crosshairs::after {
  content: "";
  position: absolute;
}

.crosshairs::before {
  height: 24px;
  width: 2px;
  background: #000;
  top: -11px;
}

.crosshairs::after {
  width: 24px;
  height: 2px;
  background: #000;
  left: -11px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.highlighting {
  background: none;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
}

.crosshairs,
.crosshairs:before,
.crosshairs:after,
.overlay,
.overlay:before,
.overlay:after {
  box-sizing: border-box;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
/* Định dạng phần form đăng nhập*/
.fomrgroup {
  width: 50%;
  margin: auto;
  display: block;
  height: 50px;
}
.fomrgroup input {
  float: right;
  width: 70%;
  height: 25px;
  margin-right: 20px;
  line-height: 50px;
}
.fomrgroup b {
  font-size: 20px;
}
/* The Modal (background) */
.modal {
  display: none; /* mặc định được ẩn đi */
  position: fixed; /* vị trí cố định */
  z-index: 1000; /* Ưu tiên hiển thị trên cùng */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.credit-main-content {
  width: 100%;
}
.modal-content button{
  padding:6px 10px; 
  font-size: 14px;
}