body {
  margin: 0;
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
body > iframe{
  position: inherit !important;
  z-index: inherit !important;
}
html,
body {
  min-width: 0 !important;
}
a:hover, a:focus{
  text-decoration: none;
}
.content-video {
  position: relative;
}

#zmmtg-root {
  /* display: none; */
  width: 50% !important;
  height: 50% !important;
  background: none !important;
  position: inherit !important;
  margin: 0 auto !important;
}

.video-share-layout.custom,
.single-main-container__main-view.custom {
  background: none !important;
}

#content_container.custom {
  height: unset !important;
}

.single-main-container__main-view.custom {
  height: 550px !important;
}

#wc-container-left.custom {
  height: 500px !important;
  width: 600px !important;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-40%, 0);
  z-index:80;
}

.video-share-layout.custom {
  height: 450px !important;
  width: 600px;
  margin: 0 auto;
}

.single-main-container__video-frame.custom,
.single-video-container__canvas.custom {
  width: 600px !important;
  height: 380px !important;
}

.single-main-container__main-view.custom canvas {
  width: 600px !important;
}

.footer.custom {
  bottom: 0px !important;
  text-align: center !important;
  background: none !important;
  display: block !important;
  position: relative !important;
}

#wc-footer.custom > div,
#wc-footer.custom span {
  display: inline-flex;
}

.meeting-info-container__wrapper {
  display: none !important;
}

.footer .footer__inner.custom {
  width: 600px !important;
  height: 100%;
  display: inline-flex !important;
  background: rgb(95, 83, 83);
  -ms-flex-pack: justify;
}

.footer.custom .footer__inner.leave-option-container {
  width: 600px !important;
  height: 100%;
  display: inline-flex !important;
  background: rgb(95, 83, 83);
  -ms-flex-pack: justify;
  position: relative !important;
}

.footer__btns-container > button,
.security-option-menu,
.footer-button-base__button.ax-outline.footer-button__button--no-opacity.footer-button__button,
.more-button,
.footer-button-base__button.ax-outline.footer-button__button--no-opacity.footer-button__button.ax-outline {
  display: none !important;
}

.meeting-app {
  width: 600px !important;
}

.main-content,
.meeting-app,
.wc-loading {
  width: 600px !important;
  margin: 0 auto !important;
  height: unset !important;
}

.meeting-client.custom,
.meeting-client-inner.custom {
  position: absolute !important;
  /* z-index: 1000; */
  top: 0;
  left: 0;
  /* width: fit-content !important;
  height: fit-content !important; */
}

#wc-loading {
  position: fixed !important;
  width: 600px !important;
  height: 500px !important;
  top: 60px;
  left: 42%;
}

.credit-content {
  width: 330px !important;
  padding: 0;
  margin: 0 20px;
  
}

.meeting-title {
  display: none !important;
}

.media-preview-container {
  position: fixed;
  top: 20px;
  /* left: 42%; */
}

#root.active {
  position: relative;
  z-index: 80;
}

.meeting-client-inner #wc-container-right{
  border: 1px solid #eee;
  border-top:0;
  border-right:0;
  z-index: 100;
}
.meeting-client-inner .chat-header__header{
  border-top:0;
  background: #00b4fa;
    color: #fff;
}
.meeting-client-inner .chat-header__chat-pop-btn:before{
  background: none;
}
.meeting-client-inner .chat-container__chat-control{
  padding: 20px 10px;
    align-items: center;
    border-bottom:1px solid #eee;
    margin-bottom:15px;
}
.meeting-client-inner .ax-outline-blue:focus{
  outline: none!important;
}
.meeting-client-inner textarea:focus{
  outline: none!important;
}
.meeting-client-inner .footer{
  backdrop-filter:none;
}

/* test */
.video-form{
  max-width: 500px;
    margin: 120px auto;
    box-shadow: 0px 0px 20px -10px rgb(41 41 41 / 25%);
    padding: 30px 15px;
}
.video-form .title{
  font-size: 28px;
}
.btn-startcall{
  min-width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
  background: #00b4fa;
    color: #fff;
    text-align:center;
    display: inline-block;
    padding: 0 10px;
    border-radius:0.5rem;
    margin-top: 20px;
    border:none;
}
.container-video{
  display: flex;
  text-align: left;

}
.videocall{
  width: calc(100% - 360px);
}

.credit-content {
  width: 330px !important;
  margin-right: 30px;
  padding: 0;
  
}
/* end test */

